html,
body {
    width: 100%;
    height: 100%;
    background: #fafafa;
}


/* header */

.wrap .loginhead {
    background: #252525;
}

.wrap .loginhead h3 {
    padding: 8px 0 8px 132px;
    position: relative;
    font-size: 26px;
    background: #252525;
    float: left;
}

.wrap .loginhead h3 a {
    padding-left: 20px;
    color: #fff;
}

.wrap .loginhead h3 img {
    position: absolute;
    left: 100px;
    top: 12px;
}

.wrap .loginhead span {
    display: inherit;
    float: right;
    padding: 15px 0;
    margin-right: 78px;
}
.wrap .loginhead nav li a{
    padding: 16px 28px;
    color: #fff;
}
.wrap .loginhead nav li.on a,
.wrap .loginhead nav li:hover a{
    background: #454545;
    color: #fff;
}
.wrap .loginhead span b {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.wrap .loginhead span i {
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

.wrap .loginhead span:before {
    content: url(../images/user-icon.png);
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 15px;
}

.wrap .loginhead span b {
    cursor: pointer;
}

.wrap .loginhead span b:after {
    content: '';
    display: inline-block;
    border-top: solid 8px #fff;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    margin-left: 10px;
}

.wrap .loginhead span:hover b:after {
    border-top: solid 8px #3da1ce;
}

.wrap .loginhead .index-option {
    position: absolute;
    background: #fff;
    width: 100%;
    top: 38px;
    left: 0;
    box-shadow: 0 2px 2px #e1e1e1;
    -webkit-box-shadow: 0 2px 2px #e1e1e1;
    display: none;
}

.wrap .loginhead .index-option ul li {
    line-height: 30px;
    padding-left: 15px;
    cursor: pointer;
}

.wrap .loginhead .index-option ul li:hover {
    background: #ebf8fd;
}

.wrap .loginhead .index-option ul li a:hover {
    color: #666;
}

.wrap .img {
    font-size: 0;
}

.wrap .img img {
    width: 100%;
}

.wrap .main {
    width: 1096px;
    margin: 50px auto 0;
    min-height: 570px;
}

.wrap .main .main-header {
    border: solid 8px #cacaca;
    width: 280px;
    height: 42px;
    margin: 0 auto;
    text-align: center;
}

.wrap .main .main-header h3 {
    display: inline-block;
    background: #fafafa;
    color: #333;
    font-size: 20px;
    padding: 5px 10px 0 10px;
    position: relative;
    top: 7px;
    font-weight: normal;
}

.wrap .main .main-header p {
    color: #999;
    font-size: 16px;
}

.wrap .main .main-row {
    padding: 25px 25px 0 25px;
    margin-top: 57px;
}

.wrap .main .main-row .row-list {
    width: 31%;
    float: left;
    background: #fff;
    border: solid 1px #e4e4e4;
    padding: 30px 30px 50px 30px;
    min-height: 455px;
    margin-bottom: 50px;
    position: relative;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
}

.row-list:nth-child(2) {
    margin: 0 3.5%;
}

.row-list .list-title {
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
}

.row-list .list-title h4 {
    font-size: 20px;
    color: #333;
    line-height: 1;
    font-weight: normal;
}

.row-list .list-title p {
    color: #999;
    font-size: 16px;
    margin-top: 15px;
    line-height: 1;
    white-space: nowrap;
}

.row-list .list-content {
    margin-top: 40px;
}

.row-list .list-content li {
    margin-bottom: 15px;
}

.row-list .list-content li:last-child {
    margin-bottom: 0;
}

.row-list .list-content h5 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
}

.row-list .list-content p {
    font-size: 16px;
    color: #999;
}

.row-list .list-content .go {
    text-align: center;
    font-size: 14px;
    border: solid 1px #e4e4e4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 5px 31px;
    position: absolute;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: all linear .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
}

.wrap .main .main-row .row-list:hover {
    border: solid 1px #c1ebff;
    box-shadow: 0 0 18px 2px #ddd;
}

.wrap .main .main-row .row-list:hover .go {
    background: #3da1ce;
    color: #fff;
}

.wrap footer {
    padding: 20px 0;
    background: #1b1f21;
    width: 100%;
}

.wrap footer div {
    width: 1120px;
    margin: 0 auto;
}

.wrap footer span {
    font-size: 16px;
    color: #7d8285;
    margin-left: 30px;
}
