/* pageone */

.pageone {
    padding: 16px 30px 30px 30px;
}


/*l-l*/

.pageone .l-l {
    display: inline-block;
    width: 47%;
    float: left;
    padding: 0 5px 5px 0;
    margin-right: 30px;
    position: relative;
}

.pageone .l-l .item,
.pageone .l-r .item {
    background: #fff;
    border: solid 1px #e1e1e1;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, .1);
}

.pageone .l-l .item h3,
.pageone .l-r .item h3 {
    color: #666;
    font-size: 16px;
    background: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
    line-height: 40px;
    padding-left: 30px;
}

.pageone .l-l .item .table-box {
    padding: 30px;
}

.pageone .l-r .item .table-box {
    padding: 0 30px 30px 30px;
}

.pageone .l-l .item table,
.pageone .l-r .item table {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

.pageone .l-l .item table tbody tr:nth-child(odd),
.pageone .l-r .item table tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

.pageone .l-l .item table tbody tr:nth-child(even),
.pageone .l-r .item table tbody tr:nth-child(even) {
    background: #fff;
}

.pageone .l-l .item table th,
.pageone .l-l .item table td,
.pageone .l-r .item table td {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    width: 25%;
    text-align: center;
    padding: 9px 0;
    font-size: 14px;
}

.pageone .l-l .item:nth-child(2),
.pageone .l-r .item:nth-child(2) {
    margin-top: 20px;
}

.pageone .l-l .item:nth-child(2) table th,
.pageone .l-l .item:nth-child(2) table td {
    width: 33.333333%;
}


/*l-r*/

.pageone .l-r {
    overflow: hidden;
    padding: 0 5px 5px 0;
}

.pageone .l-r .item .item-select {
    padding: 30px;
}

.pageone .l-r .item .item-select ul:after {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.pageone .l-r .item .item-select h4 {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.pageone .l-r .item .item-select ul li {
    width: 87px;
    float: left;
    background: #f9f9f9;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    border: solid 1px #e1e1e1;
    cursor: pointer;
}

.pageone .l-r .item .item-select ul li:hover {
    background: #e5f2f8;
}

.pageone .l-r .item .item-select ul li.on {
    background: #00a3e7;
    color: #fff;
}

.pageone .l-r .item table td {
    width: 50%;
}

.pageone .l-r .item table td a {
    color: #00a3e7;
    font-weight: bold;
    cursor: pointer;
}

.wrap .mark {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    display: none;
}

.wrap .mark .iscancel {
    padding: 56px 35px 31px 35px;
    background: #fff;
    width: 20%;
    text-align: center;
    margin: 15% auto;
    position: relative;
}

.wrap .mark .iscancel .close {
    position: absolute;
    display: block;
    font-style: normal;
    width: 16px;
    height: 16px;
    color: #7d7d7d;
    font-size: 28px;
    right: 8px;
    top: 8px;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}

.wrap .mark .iscancel h2 {
    font-size: 24px;
    color: #666;
    font-weight: normal;
    margin-bottom: 30px;
}

.wrap .mark .iscancel div {
    height: 35px;
    width: 100%;
}

.wrap .mark .iscancel div span {
    display: inline-block;
    height: 100%;
    width: 40%;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
}

.wrap .mark .iscancel div span.true {
    background: #00a3e7;
    color: #fff;
    float: left;
}

.wrap .mark .iscancel div span.cancel {
    background: #f9f9f9;
    color: #666;
    float: right;
    border: 1px solid #c1d0e3;
}

.wrap .log {
    position: fixed;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    padding: 83px 30px;
    display: none;
}

.wrap .log .logshow {
    width: 100%;
    height: 80%;
    background: #fff;
    font-size: 14px;
    color: #888;
}

.wrap .log .logshow .close {
    display: block;
    font-style: normal;
    width: 100%;
    height: 28px;
    color: #7d7d7d;
    font-size: 28px;
    text-align: right;
    line-height: 28px;
    cursor: pointer;
    background: #f9f9f9;
    padding-right: 5px;
}

.wrap .log .logshow ul {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fff;
    padding-top: 34px;
}

.wrap .log .logshow ul li {
    //list-style: decimal;
    padding-left: 40px;
    position: relative;
    counter-increment: my;
}

.wrap .log .logshow ul li:before {
    content: counter(my);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
    text-align: center;
}
